<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-4 text-center">
					<label for="image" class="image"> <img
						ng-src="{{'/assets/images/' + form.image}}"
						style="max-width: 100%" />
					</label>
				</div>
				<div class="col-sm-8">
					<div class="row">
						<div class="form-group col-sm-6">
							<div>Name</div>
							<input type="text" class="form-control" ng-model="form.name" />
						</div>

						<div class="form-group col-sm-6">
							<div>Price</div>
							<input type="text" class="form-control" ng-model="form.price" />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-6">
							<div>Image</div>
							<input type="file" class="form-control" id="image"
								ng-model="form.image"
								onchange="angular.element(this).scope().imageChange(this.files)" />
						</div>

						<div class="form-group col-sm-6">
							<div>Category</div>
							<select class="form-control" ng-model="form.category.id">
								<option ng-repeat="c in cates" ng-value="c.id">
									{{c.name}}</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-6">
							<div>Create Date</div>
							<input type="date" class="form-control"
								ng-model="form.createDate" />
						</div>

						<div class="form-group col-sm-6">
							<div>Available?</div>
							<div class="form-control">
								<label for="" class="radio-inline"> <input
									ng-value="true" name="available" type="radio"
									ng-model="form.available" />Yes
								</label> <label for="" class="radio-inline"> <input
									ng-value="false" name="available" type="radio"
									ng-model="form.available" />No
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button ng-click="create()">Create	</button>

			<button ng-click="update()" > Update
			</button>

			<button ng-click="delete(form)" > Delete
			</button>

			<button ng-click="reset()" > Reset
			</button>
		</div>
	</div>
</div>
