<div xmlns:th="http://www.thymeleaf.org">
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">

					<div class="col-lg-6 col-md-6">
						<div class="header__top__left">
							<ul>
								<li><i class="fa fa-envelope"></i>.</li>
							</ul>
						</div>
					</div>


					<form class="col-lg-6 col-md-6">
						<th:block th:unless="${#request.remoteUser}">
								<div class="header__top__right">
									<div class="header__top__right__auth">
										<a th:href="@{/security/login/form}" ><i class="fa fa-user"></i > <span th:text="#{header.login}"></span></a>
									</div>
								</div>
						</th:block>
						<th:block th:if="${#request.remoteUser}">
							
								<div class="header__top__right">
									<div class="header__top__right__auth">
										<a href="#" ><i class="fa fa-user"></i><span th:text="#{header.hello}"></span> <b>[[${#request.remoteUser}]]</b></a>
									</div>
								</div>
							
						</th:block>
					</form>
					
					
						

				</div>
			</div>
		</div>
	</header>
</div>