<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" th:fragment="dynamic(main)">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
</head>

<body class="container" ng-app="admin-app">
	<header class="row alert alert-success">Website Administrator</header>
	<div class="row">
		<nav class="navbar navbar-inverse" style="font-variant: small-caps">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="/index">Home</a></li>
					<li><a href="#!product">Products</a></li>
					<li><a href="#!category">Category</a></li>
					<li><a href="#!account">Account</a></li>
					<li><a href="#!authorize">Authorizing</a></li>
					<li><a href="/security/logoff">Sign Out</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="row">
		<article class="col-sm-9">
			<div th:replace="${main}"></div>
			<!-- Phần body main -->
		</article>
		<aside class="col-sm-3">
			<div th:replace="/layout/_cart-info.html"></div>
			<div th:replace="/layout/_category.html"></div>
		</aside>
	</div>
	<main>
		<p class="ng-view"></p>
	</main>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="/assets/admin/admin-app.js"></script>
	<script src="/assets/admin/product/product-ctrl.js"></script>
	<script src="/assets/admin/category/category-ctrl.js"></script>
	<script src="/assets/admin/account/account-ctrl.js"></script>
	<script src="/assets/admin/authority/authority-ctrl.js"></script>
</body>

</html>